@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header-h2{
    background-color:#1CD1B0;
    margin: 0;
    font-size: 15px;
    text-align: left;
    padding: 10px;
}

.header-h1 {
    background-color: #00669F;
    font-size: 40px;
    padding: 15px;
    position:sticky; top: 0;
    z-index: 10;
}

.main-container{
    display: inline-flex;
    margin-top: 300px;
    margin-left: 100px;
    height: 750px;  
    position: relative;  
    
}

.box-1{    
    background-image: url('../img/Frame1.png');
    background-color: #F3F3F3;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;  
    position: relative;     
    height: 600px;
    width: 300px;
    margin: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    

}

.box-2{
    background-image: url('../img/MaskGroup.png');
    background-color: #F3F3F3;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    position: relative;
    height: 600px;
    width: 300px;
    margin: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.box-3{
    background-image: url('../img/Frame1.png');
    background-color: #F3F3F3;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    position: relative;
    height: 600px;
    width: 300px;
    margin: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-container h2 {
    font-size: 30px;
    text-align: center;
    padding: 20px;
    margin-top: 250px;
    position: relative;
    
}

.main-container h4{
    background-color: #00669F;
    padding: 20px;
    text-align: center;
    width: 130px;
    margin-left: 90px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}

.main-container p{
    padding: 20px;
    font-size: 16px;
    margin-bottom: 40px;
}
.fotoperfil{
    margin: 140px 80px;
    position: absolute;    
}

.heart-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: red;
}


footer{
    background-color: #00669F;
    font-size: 16px;
    height: 40px;
    padding: 10px 0 0px 28px;
    color: #FFF9F9;
}