  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

header{
    background-color:#1CD1B0 ;
    height: 38px;
    left: 27px;    
    padding: 8px 0 0 28px;    
    font-weight: bold;
}

.header-sticky {
    background-color: #00669F;
    font-size: 40px;
    font-weight: bold;
    height: 80px;
    position: sticky;
    padding: 16px 0 0 28px
    
    
}

.main-container{
    display: inline-block;
}
